<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="card">
                <div class="card-header">
                  Location Selector
                </div>
                <div class="card-body">
                  <app-google-map (getLocation)="onLocationSelected($event)"></app-google-map>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                  Weather Details
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>