.history-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 300px) {
    .history-detail {
        font-size: xx-small;
    }
}

@media only screen and (max-width: 1030px) {
    .history-detail {
        font-size: xx-small;
    }
}

@media only screen and (min-device-width: 250px) and (max-device-width: 300px) {
    .history-detail {
        font-size: xx-small;
    }
}

@media only screen and (min-device-width: 350px) and (max-device-width: 750px) {
    .history-detail {
        font-size: x-small;
    }
}