<div class="container">
  <!-- geo search bar --> 
    <div class="form-group geo-search">
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    
    <!-- google map -->
    <agm-map [latitude]="mapLocation?.latitude" [longitude]="mapLocation?.logitude" [zoom]="zoom">
      <agm-marker [latitude]="mapLocation?.latitude" [longitude]="mapLocation?.logitude" [markerDraggable]="true"
        ></agm-marker>
    </agm-map>
  </div>

  
