<div class="container">
  <!-- geo search bar --> 
    <div class="form-group geo-search">
      <input ngx-google-places-autocomplete  type="text" class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    </div>
    
    <!-- google map -->
    <agm-map [latitude]="mapLocation?.latitude" [longitude]="mapLocation?.logitude" [zoom]="zoom">
      <agm-marker [latitude]="mapLocation?.latitude" [longitude]="mapLocation?.logitude" [markerDraggable]="true"
        ></agm-marker>
    </agm-map>
  </div>
